.container {
    width: 15rem;
    background-color: #181818;
    color: white;
    border-right: 0.5px solid #313131;
}

.title {
    font-size: 0.85rem;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.list li {
    list-style: none;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0.1rem 0;
    padding-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.list li img {
    width: 1rem;
}

.list li:hover {
    transition: 0.1s;
    background-color: #303030;

}