.container {
    width: 3.4rem;
    height: calc(100vh - 3.5rem);
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.5px solid #3b3b3b;
}

.inner_div {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0.85rem;
    gap: 1.25rem;
}

.icon {
    cursor: pointer;
    color: gray;
    font-size: 1.65rem;
}

.icon:hover {
    transition: 0.1s;
    color: white;
}